.sidebar{
    background-color: white;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 96px;
    padding-top: 8px;
    z-index: 8;
    box-shadow: 10px 0px 25px -3px rgb(0 0 0 / 0.2), 10px 0px 6px -4px rgb(0 0 0 / 0.2);
    border-right: 2px solid rgb(128, 128, 128, 0.4);
    transition: all 0.3s ease-in-out;
}
.sidebar.collapsed{
    width: 60px;
}
.sidebar .menubar ul li .menu-item{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
}
.sidebar.collapsed .menubar ul li .menu-item{
    visibility: hidden;
    opacity: 0; 
    transition: visibility 0s, opacity 0.3s ease-in-out;
}
.menubar ul li{
    transition: all 0.1s ease-in-out;
}
.menubar ul li.active, .menubar ul li:active, .menubar ul li.active:hover{
    background-color: #FDF0C3;
}
.menubar ul li:hover{
    background-color: #f0f0f0;
}